@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background:url("../media/flat-lay-yellow-luggage-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
section{
  display: flex;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 35px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b1b1ae;
  border-radius: 15px;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 35px;
}

/* header .logo:hover{

  font-size: 22px;
  letter-spacing: 2px;
  position: relative;
} */

header .search
{
    position: relative;
    padding-top: 5px;
    margin-left: 100px;
    /* transform: translate(-50%, -50%); */
    background: rgb(18, 170, 124);
    height: 60px;
    padding: 10px;
    border-radius:40px ;
}
header .search:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
header .search:hover > .search-btn{
    background: white;
}
header .search-btn{
    color: coral;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: rgb(95, 240, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-weight: 400;
}

header .search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
header .search-txt::placeholder{
    color: white;
}

header ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-family: itim;

}
header ul li a:hover{
  border-bottom:2px solid #ebeb0f; 
}

.head {
    margin-top: 80px;
    width:30%;
    margin-left: 40%;
    align-items: center;
    display: flex;
}
.head  i{
    color: rgba(255, 143, 15, 1);
    font-size: 60px;
    border-bottom: 5px solid #b1b1ae;
    margin-left: 80px;
}
.head h2{
    font-family: itim;
    font-size: 55px;
    border-bottom: 5px solid #b1b1ae;
    color: rgba(255, 143, 15, 1);
}
.main-area{
    position: absolute;
    top:180px;
    left:60px;
    width: 90%;
    height: 70%;
    border-radius: 50px;
    background: rgba(0,0,0,0.15);
  
}
.main-area h2{
    text-align: center;
    background-color:rgba(255, 143, 15, 0.8); 
    border-radius: 50px;
    font-size: 35px;
    color: #fff;
    padding: 8px 0;
    font-family: itim;
}
.main-area #cartData1{
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.head .btn{
      position: absolute;
      top: 100px;
      right: 250px;
      width: 120px;
      height: 40px;
      background-color: blue;
      border-radius: 10px;
} 
.head .btn:hover{
  border: 2px solid rgba(255, 143, 15, 0.8); 
}
.head .btn span{
   color: #fff;
   font-size: 20px;
   font-weight: 500;
}

.head  #priceBx{
  border-radius: 10px;
  position:absolute;
  top: 100px;
  height: 40px;
  right: 50px;
  background: #fff;
  width: 150px;
  border: 2px solid rgba(255, 143, 15, 0.8); 
}