@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background:url("../media/flat-lay-yellow-luggage-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
section{
  display: flex;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 35px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b1b1ae;
  border-radius: 15px;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 35px;
}

/* header .logo:hover{

  font-size: 22px;
  letter-spacing: 2px;
  position: relative;
} */

header .search
{
    position: relative;
    padding-top: 5px;
    margin-left: 100px;
    /* transform: translate(-50%, -50%); */
    background: rgb(18, 170, 124);
    height: 60px;
    padding: 10px;
    border-radius:40px ;
}
header .search:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
header .search:hover > .search-btn{
    background: white;
}
header .search-btn{
    color: coral;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: rgb(95, 240, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-weight: 400;
}

header .search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
header .search-txt::placeholder{
    color: white;
}

header ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-family: itim;

}
header ul li a:hover{
  border-bottom:2px solid #ebeb0f; 
}
.head h2
{
  margin-top: 70px;
  font-size: 38px;
  font-family: itim;
  text-align: center;
  font-weight: 600;
  align-items: center;
  margin-left: 550px;
  color: #fc590e;
  border-bottom: 5px solid #b1b1ae;
}
.mainSection
{
    position: absolute;
    margin-top: 140px;
    width: 100%;
    display: flex;
    /* background: olivedrab; */
}

.mainSection .formBx{
  width: 45%;
  margin-left: 50px;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding-bottom: 13px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding-right: 0px;
  /* padding-left: 5px; */
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 45px;
  /* border-bottom-right-radius: 45px; */
}
.mainSection .formBx h3,
.mainSection .cart h3,
.mainSection .payment h3{
  text-align: center;
  color: #fff;
  background: #b1b1ae;
  font-size: 30px;
  font-family: itim;
  font-weight: 700;
  /* margin-top: 10px; */
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid #fc590e;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 10px;
}
.mainSection .formBx .inputBx{
   display: flex;
    width:100%;
    margin-top: 20px;
}
.mainSection .formBx .inputBx label{
  display: inline-block;
  width:25%;
  font-size: 20px;
  margin-bottom:5px ;
  margin-left: 3%;
  color: #fc590e;
  font-weight: 300;
  letter-spacing: 1px;
  /* border: 1px solid green; */
}
.mainSection .formBx .inputBx label i{
  margin-right: 10px;
}
.mainSection .formBx .inputBx input
{
  
  width: 60%;
  border-radius: 20px;
  border: 1px solid rgb(122, 115, 115);
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  background: rgba(255,255,255,0.2);
  border:none;
  outline:none;
  padding: 10px 15px;
  border-radius: 35px;
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 12px;
  font-weight: 10px;
  letter-spacing: 1px;
  color:rgb(41, 19, 19);
  box-shadow: 0 5px 15px rgba(43, 30, 30, 0.05);
  font-size: 17px;
  font-weight: 50;
  margin-left: 15px;
  margin-right: 5px;
}
.mainSection .formBx .inputBx input:hover
{
      border-bottom: 3px solid #ebeb0f;
}
.mainSection .payment
{
  width: 45%;
  margin-left: 30px;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding-bottom: 13px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding-right: 0px;

  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 45px;
 
}
.mainSection .payment label{
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  color: #fc590e;
 margin-left: 20px;
 border-bottom:4px solid #b1b1ae;
}
.mainSection .payment .icon-container
{
      font-size: 30px;
      margin-top: 5px;
      margin-left: 30px;
}
.mainSection .payment .icon-container i
{
  margin-right: 10px;
}

.mainSection .payment .pc {
  
  /* background-color: #1b1eec; */
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 310px;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 500;
 padding: 8px 55px;
 text-align: center;
}
.mainSection .payment .pc button {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600px;
  width: 260px;
  height: 50px;
  background-color: #1b1eec;
  border-radius: 30px;
}

.mainSection .payment .pc button a{
  color: #fff;
  /* background-color: #1b1eec; */
  border: 4px solid #1b1eec;

}
.mainSection .payment .pc button:hover
{
  border-bottom: 3px solid #fc590e;
}
.mainSection .payment h4{
  font-size: 18px;
  margin-top: 10px;
  margin-left: 50%;
  color: #fc590e;
  border: 1px solid #000;
  margin-right: 44%;
  background: #b1b1ae;
  color: #fff;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.mainSection .payment span
{
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  color: #fc590e;
 margin-left: 20px;
 border-bottom:4px solid #b1b1ae;
   
}
.mainSection .payment .pp,
.mainSection .payment .nb
{
  margin-top: 20px;
  display: flex;
  margin-left: 70px;
  margin-bottom: 30px;
}
.mainSection .payment .pp a:first-child,
.mainSection .payment .pp a:nth-child(2)
{
  margin-right: 40px;
}
.mainSection .payment .pp a,
.mainSection .payment .nb a

{
  text-decoration: none;
  background: #1b1eec;
  padding: 5px 15px;
  border-radius: 15px;
  color: #fff;
}
.mainSection .payment .nb a{
  padding: 10px 30px;
  font-size: 18px;
}
.mainSection .payment .pp a:hover,.mainSection .payment .nb a:hover 
{
  border-bottom: 2px solid #fc590e;
}
.head #money
{
  position: absolute;
  top: 80px;
  right: 100px;
  width: 150px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #fc590e;
}
