@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(241, 186, 32);
}
section{
  display: flex;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px 35px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b1b1ae;
  border-radius: 10px;
  position: fixed;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 35px;
}

/* header .logo:hover{

  font-size: 22px;
  letter-spacing: 2px;
  position: relative;
} */

header .search
{
    position: relative;
    padding-top: 5px;
    margin-left: 100px;
    /* transform: translate(-50%, -50%); */
    background: rgb(91, 233, 190);
    height: 60px;
    padding: 10px;
    border-radius:40px ;
}
header .search > .search-txt{
    width: 240px;
    padding: 0 6px;
}
header .search > .search-btn{
    background: white;
}
header .search-btn{
    color: coral;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: rgb(95, 240, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-weight: 400;
}

header .search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
header .search-txt::placeholder{
    color: white;
}

header ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-family: itim;

}
header ul li a:hover{
  border-bottom:2px solid #ebeb0f; 
}
.visit
{
     /* bottom: 200px;
    right: 10px; */
    position: absolute;
    background: rgba(238, 75, 211,0.55);
    position: fixed;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    top: 70px;
    right: 25px;
    border-radius: 20px;
    border: 1px solid #b1b1ae;
    padding-top: 10px;
    /* padding-left: 15px; */
    text-align: center;
}
.visit1
{
     /* bottom: 200px;
    right: 10px; */
    position: absolute;
    background: rgba(238, 75, 211,0.55);
    position: fixed;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    top: 70px;
    right: 25px;
    border-radius: 20px;
    padding-top: 10px;
    /* padding-left: 15px; */
    text-align: center;
}
.price{
    top:130px;
    background: #b1b1ae;
}
.price span{
    color: #fff;
    padding: 10px 5px;
}

.visit {
    padding-bottom: 5px;
}
.visit span{
   
    
    font-size: 20px;
    color: #fff;
}

.visit:hover{
    background: rgba(238, 75, 211,0.8);
    border: 3px solid #ebeb0f;
}


.mainSection
{
    margin-top: 75px;
    padding-bottom: 300px;
    overflow :hidden; 
}
.mainSection::before
{
    content: 'Japan Tourist Places';
    position: fixed;
    /* font-family:itim ; */
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 9em;
    font-weight: 700;
    color: rgba(209, 81, 198, 0.3);
    -webkit-text-stroke: 1px rgba(7, 110, 79,0.8);;
}
.sectionM
{
    position: relative;
    margin-left: 20%;
    /* width: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 25px; */
    /* margin-top: 100px; */
    min-height: 80vh;
}

.sectionM h2
{
    font-family: itim;
    margin-left: 200px;
    font-size: 4em;
    color: #fff;
    margin-bottom: 20px;
}
.sectionM .container
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionM:nth-child(even) .container 
{
    flex-direction: row-reverse;
}
.sectionM .container .imgBx
{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 25px 35px rgba(87, 85, 85, 0.1);
}
.sectionM .container .imgBx  img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sectionM .container .content
{
    position: absolute;
  
    right: 0;
    margin-top: 200px;
    margin-bottom: 70px;
    padding: 40px;
    background: rgba(209, 81, 198, 0.6);
    z-index: 1;
    max-width: 400px;
    
    color: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.4);
    border-bottom: 6px solid #ebeb0f;
}
.sectionM .container .content p{
    font-family: itim;
    font-size: 22px;
}
.sectionM .container .content a{
    /* font-family: itim; */
    margin-top: 3px;
    font-size: 20px;
    color: rgb(11, 7, 230);
    text-decoration: none;
}
.sectionM .container .content a:hover{
    color: rgb(10, 186, 240);
border-bottom: 2px solid #ebeb0f;
    font-size: 22.5px;
}
.sectionM:nth-child(even) .container .content
{
    left: 0;
}

.footer
{
    position: absolute;
    margin-top: 100px;
    top:3200px;
    left: 0;
    width: 100%;
    height: 45vh;
    background-color: rgba(15, 29, 226, 0.658);
}
.footer h2{
    width: 28%;
    font-family: itim;
    font-size: 30px;
    padding-left: 10px;
    background: #fff;
    border-radius: 5px;
    background:rgba(209, 81, 198, 0.8) ;
    border: 0.5px solid rgba(15, 29, 226, 0.658);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);

    margin: 10px;
    padding-bottom: 8px;
    margin-top: -28px;
}
.footer .images
{
    width: 100%;
    height: 88%;
    display: flex;
}
.footer .imgPos
{
  
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 250px;
    flex-direction: row;
    height: 250px;
    margin-top: 25px;
     margin-left: 50px;
    background: #fff;
    overflow-y: hidden;
    display: flex;
  
}

.footer .imgPos a
{   
    
    /* top: -100px;
    width: 100%;
    height: 40px; */
    /* display: flex; */

    position: absolute;
    align-items: center;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: rgb(240, 137, 137);
    margin-top: 0px;
    /* margin-left: 65px; */
    font-size: 23px;
    font-weight: 400;
    padding: 0 10px;
    border-radius: 2px;
    z-index: 10;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px  10px rgba(0,0,0,0.01);
    border:1px solid rgba(255,255,255,.2);
    z-index: 0;
}
.footer .images:last-child a
{
    font-size: 20px;
}
.footer .imgPos:hover a{
    transition: 0.4s;
    top:10px;
    z-index: 10;
}
.footer .imgPosa:hover{
    border-bottom: 1.5px solid  #ebeb0f;
    z-index: 10;

}
.footer .imgPos img{
    position: absolute;
    border-radius: 10px;
    z-index: 1;
}

.dialog,
.dialog1
{
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    z-index: 2;
   
}
.dlg-header,
.dlg-header1
{
    padding: 5px;
    font-weight: bold;
    background:  rgba(238, 75, 211,0.55);
    border-radius: 15px;
    color: #f6f7f8;
    font-size: 22px;
    padding-left:40px ;
    
}
.dlg-body,
.dlg-body1{
    padding: 10px;
    line-height: 30px;
}
.dlg-input-el,
.dlg-input-el1{
    border: none;
    outline: none;
    border: 2px solid #ddd;
    width: 375px;
    height: 30px;
    font-size: 20px;

}
.dlg-input-el:focus,
.dlg-input-el1:focus{
    box-shadow: inset 0 0 10px 3px #f6f6f6;
}
.dlg-footer,
.dlg-footer1

{
    text-align: center;
    background: #f5f5f2;
    padding: 3px 0;
}
.dlg-footer a,
.dlg-footer1 a
{
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(250, 223, 73);
    color: #464343;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 2px 2px 4px 0px #ccc;
}
.dlg-footer  a:active,
.dlg-footer1  a:active
{
    box-shadow: inset 2px 2px 4px 0px #ccc;
    color: #666;
}
.freeze-layer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
#dlgMessage{
    font-size: 17px;
    font-weight: 600;
}