@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff;
}
section{
  display: flex;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 35px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b1b1ae;
  border-radius: 15px;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 35px;
}

/* header .logo:hover{

  font-size: 22px;
  letter-spacing: 2px;
  position: relative;
} */

header .search
{
    position: relative;
    padding-top: 5px;
    margin-left: 100px;
    /* transform: translate(-50%, -50%); */
    background: rgb(18, 170, 124);
    height: 60px;
    padding: 10px;
    border-radius:40px ;
}
header .search:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
header .search:hover > .search-btn{
    background: white;
}
header .search-btn{
    color: coral;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: rgb(95, 240, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-weight: 400;
}

header .search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
header .search-txt::placeholder{
    color: white;
}

header ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-family: itim;

}
header ul li a:hover{
  border-bottom:2px solid #ebeb0f; 
}


.main-section{
  display: grid;
  grid-gap: 1px;
  width: 80%;
  height: 88vh;
  /* background: rgb(126, 238, 214); */
  grid-template-rows:70% ,30%;
  margin-top: 80px;
  border-radius: 20px;
} 

.main-section .country{
  width: 100%;
  height: 78%;
  min-height: 60vh;
  /* padding-top: 30px; */
  padding-top: 12px;
  border-radius: 20px;
  border-bottom: 2px solid #f8f8f5;
  background:rgba(172, 175, 174, 0.5);
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 120px;
   /* padding-bottom: 80px; */
}

.main-section .country .swiper-container
{
    width: 100%;
    padding: 0;
    padding-bottom: 62px;
    margin-bottom: 0;
    /* border-bottom: 2px solid rgb(255, 0, 149); */
}
.main-section .country .swiper-slide
{
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    background: #fff;
    overflow: hidden;
    -webkit-box-reflect: below 1.5px linear-gradient(transparent,transparent,#0006);
}
.main-section .country .swiper-slide a{
  top:-100px;
  width: 100%;
  height: 40px;
  
  position: absolute;
  align-items: center;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  /* margin-left: 40%; */
  color: #fff;
  font-family: itim;
  margin: 130px;
  margin-top: 0px;
  margin-left: 0;
  font-size: 23px;
  font-weight: 400;
  /* background: #b3b3b0; */
  padding: 0 10px;
  border-radius: 2px;
  z-index: 10;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px  10px rgba(0,0,0,0.01);
  border:1px solid rgba(255,255,255,.2)
  
}
.main-section .country .swiper-slide:hover a{
  transition: 0.4s;
  top:0px;
}
.main-section .country .swiper-slide a:hover{
  border-bottom: 1.5px solid  #ebeb0f;
}
.main-section .country-events
{
    width: 100%;
    /* display: flex; */
    border-top: 2px solid #fff; 
    background:rgba(189, 243, 222, 0.6) ;
    margin-top: -125px;
   border-radius: 10px;
   
   border: 1px solid #b1b1ae;
}
.main-section .country-events h3
{
  font-family: itim;
  font-size: 25px;
  padding-left: 20px;
  background: #b1b1ae;
  border:1px solid yellow;
  border-radius:8px;
  /* float: left; */
}
.main-section .country-events .options
{
  width: 100%;
  height: 88%;
  display: flex;
  height: 150px;
  /* background: navy; */
}
.main-section .country-events .options .option
{ 
  height: 75%;
  width: 12%;
  display: flex;
  font-family: itim;
  margin: 16px 0 0 5px ;
  margin-bottom: -200px;
  border-radius: 10px;
  background:#fff;
  
  border: 0.3px solid #b1b1ae;
  box-shadow: 10px 25px 25px rgba(0,0,0,.1);

  /* float: left; */
}


.main-section .country-events .options .option .content::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  bottom: -15px;
  left: 50px;
  transform: rotate(45deg);
  border-bottom:1px solid #b1b1ae ;
  border-right:1px solid #b1b1ae ;

} 

.main-section .country-events .options .option .content{
  position: absolute;
  bottom: 55px;
  width: 400px;
  

  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(-50px);
  transition: 0.5s;
}
.main-section .country-events .options .option:hover .content
{
    visibility: visible;
    opacity: 1;
  
    z-index: 100;
    border:0.8px solid #b1b1ae ;
    transform: translateX(0%) translateY(-100px);
  
}
.main-section .country-events .options .option .head{
  color:#fff;
  background: rgba(58, 57, 57, 0.6);
  font-size: 20px;
  font-family: itim;
  text-align: center;
  font-weight: 500;
  margin-left: 7px;
  height: 23px;
  margin-top: 5px;
  padding-bottom: 5px;
  /* text-align: center;
  justify-content: center;
  align-items: center; */
}
.main-section .country-events .options .option:nth-child(3) .head,
.main-section .country-events .options .option:nth-child(7) .head{
  background: none;
}
.main-section .country-events .options .option .head span{
  
  background: rgba(58, 57, 57, 0.6);

}
.main-section .country-events .options .option:nth-child(1){
  background-image: url("../media/image102.jpg");
}
.main-section .country-events .options .option:nth-child(2){
  background-image: url("../media/img101.jpg");
}
.main-section .country-events .options .option:nth-child(3){
  background-image: url("../media/image103.jpg");
}
.main-section .country-events .options .option:nth-child(4){
  background-image: url("../media/img104.jpg");
}
.main-section .country-events .options .option:nth-child(5){
  background-image: url("../media/img105.jpg");
}
.main-section .country-events .options .option:nth-child(6){
  background-image: url("../media/img106.jpg");
}
.main-section .country-events .options .option:nth-child(7){
  background-image: url("../media/img107.jpg");
}
.main-section .country-events .options .option:nth-child(8){
  background-image: url("../media/img108.jpg");
}

.offer
{/* 
  top:50px;
  left: 83%; */
  background: rgba(189, 243, 222, 0.3) ;
  float: left;
  width: 19.7%;
  height: 88vh;
  margin-top: 80px;
  margin-left: 4px;
  border-radius: 20px;
  border: 1px solid #b1b1ae;

  /* border-left:2px solid #fff; */
}

.offer  h3
{
  font-family: itim;
  font-size: 25px;
  padding-left: 20px;
  background-color: #d4d3d3;
  border:1px solid yellow;
  border-radius:20px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  padding-bottom: 10px;
  /* float: left; */
}
.offer .container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offer .container .box
{
    position: relative;
    width: 360px;
    padding: 20px;
    padding-bottom: 5px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,.1);
    border-radius: 20px;
    border: 1px solid  rgba(255,255,255,0.2);
    margin: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.offer .container .box::before
{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(255,255,255,0.2);
}
.offer .container .box .icon
{
    position: relative;
    width: 150px;
    height:40px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: 1s;
}
.offer .container .box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.offer .container .box:nth-child(1):hover .icon
{
    box-shadow: 0 0 0 400px #e91e63;
}

.offer .container .box:nth-child(2) .icon
{
    box-shadow: 0 0 0 0 rgb(95, 240, 196);
    background: rgb(95, 240, 196);
}
.offer .container .box:nth-child(2):hover .icon
{
    box-shadow: 0 0 0 400px rgb(95, 240, 196);
}

.offer .container .box:nth-child(3) .icon
{
    box-shadow: 0 0 0 0 #2396f3;
    background: #2396f3;
}
.offer .container .box:nth-child(3):hover .icon
{
    box-shadow: 0 0 0 400px #2396f3;
}
.offer .container .box .content p{
  font-family: itim;
  font-size: 20px;
}
.offer .container .box .content
{
    position: relative;
        z-index: 1;
    transition: 0.5s;
}
.offer .container .box:hover .content
{
    color: #fff;

}
.offer .container .box .content a{
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  /* margin-bottom: -5px; */
  text-decoration: none;
  color: #000;
  font-weight: 300;
  padding:0 4px;
  /* margin-top: 20px; */
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
/* .main-section  .country-events h3{
  position: relative;
  top:70%;
  left: 0;
  float: left;
} */