@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}

body
{
    background-image: url("../media/flat-lay-yellow-luggage-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 730px;
    /*background:linear-gradient(255deg,#d66389,#64a0bd) ;*/
    z-index: 1;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 35px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b1b1ae;
  border-radius: 10px;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 35px;
}

/* header .logo:hover{

  font-size: 22px;
  letter-spacing: 2px;
  position: relative;
} */

header .search
{
    position: relative;
    padding-top: 5px;
    margin-left: 100px;
    /* transform: translate(-50%, -50%); */
    background: rgb(18, 170, 124);
    height: 60px;
    padding: 10px;
    border-radius:40px ;
}
header .search:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
header .search:hover > .search-btn{
    background: white;
}
header .search-btn{
    color: coral;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    background: rgb(95, 240, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-weight: 400;
}

header .search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
header .search-txt::placeholder{
    color: white;
}

header ul li{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-family: itim;

}
header ul li a:hover{
  border-bottom:2px solid #ebeb0f;

}
section
{
    position: relative;
    width: 90%;
    height: 90vh;
    display: flex;
    border-radius: 35px;
    margin-left:20px;
    margin-top: 65px;
    /* border:solid 1px; */
    box-shadow: rgb(17, 16, 16);
}
/*section .color{
    position:absolute;
    filter:blur(150px);
}

section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}

section .color:nth-child(2){
   bottom: -150px;
   left: 100px;
   width: 500px;
   height: 500px;  
   background: #fffd87;
}

section .color:nth-child(3){
   bottom: 50px;
   right: 100px;
   width: 300px;
   height: 300px;  
   background: #00d2ff;
}*/


section .imgBx
{
    
    position: relative;
    width:45%;
    height: 100%;
   
    
}

/* section .imgBx:before
{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    /* background:linear-gradient(255deg,#d0d6ac,#eeedc3) ; 
    z-index: 2;
   
    mix-blend-mode: screen;
} */

section .imgBx img
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    object-fit: cover;
}

section .contentBx
{
    /* justify-content: center;
    align-items: center ;
    display: flex;
    width: 50%;
    height: 100;
    background: white;*/
    position: relative;
    
    width: 65%;
    min-height: 100;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding-right: 0px;
    padding-left: 30px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
} 

section .contentBx .formBx
{
      /* width: 50%;
      background: white; */
    position: relative;
    width: 90%;
    height: 100%;
    padding: 10px;
    
    margin-left: 2%;
    margin-right: 8%;

}
section .contentBx .formBx h2{
    /* color: #607d8b;;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px; */
    position: relative;
    color:#ebeb0f;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    background-color: #87CEFA;  
    padding-left:33%;
    border-radius: 25px;
        padding-top: 5px;
        padding-bottom: 5px;    
}

/******************************/
section .contentBx .formBx h2:before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    width:80px;
    height:4px;
    
}
section .contentBx .formBx  .inputBx {
    /* margin-bottom: 20px;
    background: white; */
    display: flex;
   
    width:100%;
    margin-top: 20px;
}
 section .contentBx .formBx  .inputBx span{
    display: inline-block;
    width:30%;
    
    margin-bottom:5px ;
    color: #33a7e0;
    font-weight: 300;
    font-size: 23px;
    letter-spacing: 1px;
}
/* section .contentBx .formBx  .inputBx .pad a{
    padding: 8px ;
}  */

section .contentBx .formBx  .inputBx  input{
    /*width:100%;
     padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px; */
    width:70%;
    background: rgba(255,255,255,0.2);
    border:none;
    outline:none;
    padding: 8px 15px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 20px;
    font-weight: 50;
    letter-spacing: 1px;
    color:rgb(41, 19, 19);
    box-shadow: 0 5px 15px rgba(43, 30, 30, 0.05);
}
section .contentBx .formBx  .inputBx  input:hover{
    border-bottom:2px solid #ebeb0f;
}

/******************/
section .contentBx .formBx  .inputBx  input::placeholder{
    color:rgb(36, 20, 20);
    font-size: 16px;
   
}

section .contentBx .formBx  .inputBx  input[type="submit"]{
    /* background: #ff4584;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer; */
    /* background: #33a7e0;
    color:#666;
    max-width:100px;
    cursor: pointer;
    margin: 0px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 600; */
    width: 50%;
    background: #229cda;
    color:#ebeb0f;
    cursor: pointer;
    font-size: 22px;
    padding-right: 50px;
    margin-left: 200px;
    font-weight: 600;
    padding-left: 50px;
}

section .contentBx .formBx  .inputBx  input[type="submit"]:hover{
     background:#ebeb0f;
     color: #229cda;
}

section .contentBx .formBx .remember{
      margin-bottom: 10px;
      color: #33a7e0;
      background:none;
      font-weight: 300;
      font-size: 20px;
      margin-top: 30px;
      letter-spacing: 1x;
      
}
section .contentBx .formBx .menuBox{
    border-top: 2px solid #ebeb0f;
    padding-right: 25px;
    margin-top: 1px;
}

section .contentBx .formBx .inputBx p{
 
    color: #229cda;
    font-size: 20px;
  
}
section .contentBx .formBx  .inputBx p span{
    display: inline-flex;
    width:30%;
    
    margin-bottom:px ;
    color: #33a7e0;
    font-weight: 300;
    font-size: 23px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx p a{
    color:#ebeb0f;
    padding: 4px;
    font-size: 20px;
    background-color: #229cda;
    text-decoration: none;
    border: 0.2px solid #ebeb0f;
    border-radius: 25px;
}

section .contentBx .formBx .inputBx p .pad{
    width:600px;
    font-size: 18px;
    border-radius: 5px;
    
}
section .contentBx .formBx .inputBx p .sign{
    width:600px;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx p a:hover{
    color :#081014;
    text-decoration: none;
}
section .contentBx .formBx  .iBx1{
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 25px;
}
section .contentBx .formBx .social-menu{
    margin-top: 2px;
}

section .contentBx .formBx .social-menu ul{
    position: absolute;
    padding: 0;
    margin: 0;
    /* transform: translate(-50%,-50%); */
    display: flex;

}
section .contentBx .formBx .social-menu ul li{
    list-style: none;
    margin: 0 25px;
}
section .contentBx .formBx .social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color:#229cda;
}
section .contentBx .formBx .social-menu ul li .fa:hover{
    color:#fff;
}
section .contentBx .formBx .social-menu ul a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebeb0f;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
section .contentBx .formBx .social-menu ul li a:hover{
    transform:translate(0, -10px);
}
section .contentBx .formBx .social-menu ul li:nth-child(1) a:hover{
    background-color: #dd4b39;
}
section .contentBx .formBx .social-menu ul li:nth-child(2) a:hover{
    background-color: #55acee;
}
section .contentBx .formBx .social-menu ul li:nth-child(3) a:hover{
    background-color: #3b5999;
}

@media(max-width:996px)
{
    section .imgBx{
        width: 0%;
    }
    section .contentBx{
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:690px)
{   section {
    margin-top: 0;
    }
    section .contentBx .formBx .inputBx{
        display: block;
    }
    section .contentBx .formBx .inputBx span{
        font-size: 17px;
    }
    section .contentBx .formBx .remember{
        font-size: 17px;
    }
    section .contentBx .formBx .inputBx p .pad,
    section .contentBx .formBx .inputBx p .sign{
        font-size: 16px;
    }
    section .contentBx .formBx .inputBx p .sign{
        padding-left: 20px;
    }
    section .contentBx .formBx .social-menu ul li .fa{
            font-size: 22px;
            line-height: 60px;
    }
    section .contentBx .formBx .inputBx p{
        font-size: 17px;
    }
   }

@media(max-width:493px){
    section {
        width: 100%;
        margin-left: 0;
    }
    section .contentBx .formBx .social-menu{
        background: #8ff8cc;
    }
    section .contentBx .formBx  .inputBx  input[type="submit"]{
        margin-left: 60px;
        width: 30%;
        font-size: 18px;
        font-weight: 400;
        padding-left: 30px;
    }
   
}


